<!doctype html>
<html>
	<head>
		<title>Base template</title>
		<link type="text/css" rel="stylesheet" media="all" href="css/main.css" />
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
		<script src="js/main.js" defer></script>
		<script src="js/newsfeedModule.js" defer></script>
		<script src="js/newsfeedController.js" defer></script>
		<script src="js/newsfeedUrlConstants.js" defer></script>
		<script src="js/newsfeedDescriptionFilter.js" defer></script>
	</head>
	<body ng-app="app" ng-cloak>
		<!-- This is base template for testing -->
		<h1 class="mainTitle">
			<img class="logo" src="images/logo.png" alt=""/>
			<span class="text">Newsfeed</span>
		</h1>
		<div 
			ng-controller="newsfeed as newsfeed"
		>
			<div class="popupForm">
				<form name="newsfeed.newArticleForm">
				<div class="formSection">
				<p>Article type</p>
				<select
					ng-model="newsfeed.newArticleModel.type"
				>
					<option value="article">Article</option>
					<option value="photos">Photos</option>
					<option value="video">Video</option>
				</select>	
				<input type="text"
					ng-model="newsfeed.newArticleModel.title"
				/>
				<input type="text"
					ng-model="newsfeed.newArticleModel.mainPhoto"
				/>
				<textarea
					ng-model="newsfeed.newArticleModel.description"
				></textarea>
				<input type="text"
					ng-repeat="photo in newsfeed.newArticleModel.photos track by $index"
					ng-model="newsfeed.newArticleModel.photos[$index]"
				/>
				<p>Video</p>
				<input type="text"
					ng-model="newsfeed.newArticleModel.video"
				/>
				<button type="button"
					ng-click="newsfeed.saveArticle()"
				>Save</button>
				<div class="formSection">
					<button type="button"
						ng-click="newsfeed.hideEditPopup()"
					>Cancel</button>
				</div>
			    </div>
				<!-- Popup end -->
				<!-- Article list start -->
				<ul>
					<li ng-repeat="article in newsfeed.articles track by $index">
						<h3>{{Article.title}}</h3>
						<span>{{Article.createdDate}}</span>
						<div class="article">
							<img ng-src="{{article.mainPhoto}}">
							<p>{{article.description}}</p>
						</div>
						<div class="photos">
							<img
								ng-repeat="photo in article.photos track by $index"
								ng-src="{{photo}}"
							/>	
						</div>
						<div class="video">
							<a href="{{article.video}}" target="_blank">
								<img
									ng-src="{{article.mainPhoto}}"
								/>
							</a>
						</div>
						<div class="editButtons">
							<button type="button"
								ng-click="newsfeed.showEditPopup(article)"
							>Edit</button>
							<button type="button"
								ng-click="newsfeed.deleteArticle(article, $index)"
							>Delete</button>
						</div>
					</li>
				</ul>
				<!-- Article list en -->
			</div>	
	</body>
</html>













